/* Variables */

:root {
  --basic-darkslategray: #293449;
  --basic-darkgrey: #32425C;
  --basic-whitesmoke: #f3f7f8;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  
  --basic-grey:#F1F5F7;
  --basic-greylight:#F3F7F9;
  --basic-blue-light: #3D546F;
  --basic-gray: #C5C5C5;

  --special-wrapper: #F9F5F0;
  --special-brand: #EAEAEA;
  --special-old-price: #A9A9A9;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;

  --special-pagination: #E5E5E5;
  --special-darkdark-blue-hover: #1D2739;
  --special-green-hover: #5FBB2D;
  --special-green-active: #518534;
  --special-dark-blue-hover: #161D29;
  --special-red-hover: #BA2732;
  --special-social: #212A3A;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.main-header {
  background-color: var(--basic-whitesmoke);
}

.header-top {
  background-color: var(--basic-darkslategray);
}

.main-header-logo img {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding: 12px 57px 17px 55px;
}

.main-header-logo img:active,
.main-header-logo img:focus {
  background-color: var(--special-red-hover);
}

.form-search input {
  background-color: inherit;
  border: none;
} 

.header-bookmark,
.header-cart,
.header-order {
  color: var(--basic-white);
}

.header-bookmark:active,
.header-cart:active,
.header-bookmark:focus,
.header-cart:focus {
  background-color: var(--special-dark-blue-hover);
  opacity: 0.5;
}

.active-cart {
  background-color: var(--basic-red);
}

.header-order {
  background-color: var(--basic-green);
}

.header-order:hover {
  background-color: var(--special-green-hover);
}

.header-order:active,
.header-order:focus {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

.header-section p {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-section a {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.header-section a:focus {
  text-decoration: underline;
}

.header-section address {
  color: var(--basic-darkgrey);
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

/* User navigation */

.user-navigation a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-gray);
  text-decoration: none;
}

.user-navigation-list {
  list-style: none;
}

.user-navigation-list a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkgrey);
}

.user-navigation-list a:hover {
  color: var(--basic-red);
}

.user-navigation-list a:active {
  color: var(--basic-gray);
}

.user-navigation span {
  font-size: 21px;
  line-height: 21px;
}

.user-navigation span:active {
  color: var(--basic-gray);
}

/* Main navigation */

.site-navigation {
  background-color: var(--basic-darkgrey);
  box-shadow: inset 0px -5px 0px #293449;
  list-style: none;
}

.site-navigation a {
  color: var(--basic-white);
  
}

.site-navigation a:hover {
  background-color: var(--basic-darkslategray);
}

.site-navigation a:active,
.site-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--special-darkdark-blue-hover);
  box-shadow: inset 0px -5px 0px #293449;
}

/* Section categories */

.categories-list,
.promo-list {
  color: var(--basic-white);
  list-style: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.categories-list .yellow {
  background-color: var(--special-yellow);
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}

.categories-list .blue {
  background-color: var(--special-blue);
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
}

.categories-list .lilac {
  background-color: var(--special-lilac);
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}

.categories-item a,
.promo-item a {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
}

.categories-item a:hover,
.promo-item a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.categories-item a:active,
.promo-item a:active,
.categories-item a:focus,
.promo-item a:focus {
  background-color: rgba(169, 169, 169, 0.3);
}

.label {
  font-size: 14px;
  line-height: 18px;
  text-transform: lowercase;
}

/* Section promo */

.slider-list {
  color: var(--basic-white);
  list-style: none;
}

.slider-item {
  background-color: var(--basic-black);
}

.slider-list .first {
  background-image: url(../img/slide-1.jpg);
  background-repeat: no-repeat;
} 

.slider-list .two {
  background-image: url(../img/slide-2.jpg);
  background-repeat: no-repeat;
} 

.slider-text {
  background-color: rgba(0, 0, 0, 0.25);
}

.slider-item h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider .button-left {
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  border: none;
}

.slider .button-right {
  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  border: none;
}

.promo-list .green {
  background-color: var(--special-greenlight);
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
}

.promo-list .yellow {
  background-color: var(--special-yellow);
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
}

/* Section popular product */

.popular-wrapper {
  background-color: var(--special-wrapper);          
}

.popular-title {
  color: var(--basic-darkgrey);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-list {
  list-style: none;
  text-align: center;
}

.product-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-list h3 {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.product-list .price-old {
  color: var(--special-old-price);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration-line: line-through;
}

.product-list .price-new {
  color: var(--basic-white);
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-red);
}

.product-label {
  color: var(--basic-white);
  text-transform: uppercase;
}

.button-item {
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
}

.button-item .button-buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--special-green-active);
  text-transform: uppercase;
  border: none;
}

.button-item .button-buy:hover {
  background-color: var(--special-green-hover);
}

.button-item .button-buy:active,
.button-item .button-buy:focus {
  background-color: var(--special-green-active);

} 

.button-item .button-bookmark {
  color: var(--basic-darkgrey);
  text-transform: uppercase;
  border-width: 3px;
  border-style: solid;
  border-color: var(--basic-green);
}

.button-item .button-bookmark:hover,
.button-item .button-bookmark:focus {
  border-color: var(--basic-darkgrey);
}

.button-item .button-bookmark:active {
  opacity: 0.5;
} 

/* Section popular brand */

.popular-brand-list {
  list-style: none;
}

.popular-brand-item {
  background-color: var(--basic-white);
  border-width: 1px;
  border-style: solid;
  border-color: var( --special-brand);
}

.popular-brand-item:hover,
.popular-brand-item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-brand-item:active {
  opacity: 0.5;
}

/* Section services */

.services {
  background-color: var(--basic-grey);
}

.services p {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-controls {
  list-style: none;
}

.services-controls a {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: var(--basic-darkgrey);
  box-shadow: 0px 1px 0px var(--basic-darkslategray), inset 0px 1px 0px #405069;
}

.services-controls a:hover {
  background-color: var(--basic-darkslategray);
}

.services-controls a:active,
.services-controls a:focus {
  color: var(--basic-darkslategray);
  background-color: var(--basic-white);
}

.services-list {
  list-style: none;
}

.services-title {
  color: var(--basic-darkgrey);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list .delivery {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
}

.services-list .guarantee {
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
}

.services-list .credit {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
}

/* Section about company */

.about-company {
  color: var(--basic-black);
}

.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

/* Button */

.button {
  color: var(--basic-white);
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:active,
.button:focus {
  background-color: var(--special-red-hover);
}

/* Section contacts */

.contacts p {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Breadcrumbs */

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-list a {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

/* Filter */

.filters {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
}

.filter-button {
  border: 1px solid var(--basic-gray);
}

.filter-button:hover, 
.filter-button:focus {
  background-color: var(--basic-gray);
}

/* Sorting */

.sorting {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.sorting span, 
.filters span {
  font-size: 13px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-red);
}

.sorting-list a:hover {
  color: var(--basic-black);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--basic-red);
}

.sorting-list a:active,
.sorting-list a:focus {
  color: var(--basic-red);
  border: none;
}

.sorting button {
  border: none;
}

/* Pagination */

.pagination-list {
  list-style: none;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.pagination-list a {
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--special-pagination);
}

.pagination-list a:hover {
  border-width: 1px;
  border-style: solid;
  border-color: var(--basic-gray);
  border-radius: 2px;
}

.pagination-list a:active,
.pagination-list a:focus {
  border-color: var(--basic-red);
}

.pagination-list .active {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* Section category description */

.category-descr p {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Footer */

.main-footer {
  background-color: var(--basic-darkgrey);
}

.footer-logo {
  background-color: var(--basic-red);
}

.footer-navigation-link {
  list-style: none;
}

.footer-navigation-link a {
  color: var(--basic-grey);
}

.footer-navigation-link a:hover,
.footer-navigation-link a:focus {
  text-decoration: underline;
}

.footer-navigation-link a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-navigation p,
.footer-phone {
  color: var(--basic-greylight);
}

.footer-phone:focus {
  text-decoration: underline;
}

.footer-navigation .categories {
  color: var(--special-yellowlight);
}

.footer-copyright {
  background-color: var(--basic-darkslategray);
}

.footer-copyright p {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright a {
  color: var(--special-yellowlight);
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active,
.footer-copyright a:focus {
  text-decoration: none;
  color: var(--basic-red);
}

.footer-social li {
  list-style: none;
  background-color: var(--special-social);
  width: 41px;
  height: 41px;
  border-radius: 100%;
}

.footer-social li:hover,
.footer-social li:active,
.footer-social li:focus {
  background-color: var(--basic-red);
} 

.footer-social-vk {
  background-image: url(../img/icon-vk.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}

.footer-social-fb {
  background-image: url(../img/icon-fb.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}

.footer-social-insta {
  background-image: url(../img/icon-insta.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}

/* Modal popup */

.popup-map {
  display: none;
}

.popup-feedback {
  display: none;
}

.popup-notify {
  display: none;
}